 {% extends '::base.html.twig' %}

 {% block title %}Forgot password{% endblock %}
 
 {% block body %}
 
 <br/>
<div> Forgot password </div>
{{ form(form) }}
{% endblock %}

 
 
 {% block sidebar %}{% endblock %}
